<!DOCTYPE HTML>
 <html lang="eng-US" style="height:100%;">


<!-- this is the main body of where all doodles are listed-->
{% extends "standard.html" %}
{% block content %}

<ul class= "display" >


<table style="width:100%">


 <tr id= one>
   
    <td> <img src="{{url_for('static',filename='all_doodles/still_doodles/1 October - Nigeria Independence Day 2016.jpg')}}" width="300" height="200" />  
    <td> <img src="{{url_for('static',filename='all_doodles/still_doodles/1 October - Nigeria Independence Day 2016.jpg')}}" width="300" height="200" />  
    <td> <img src="{{url_for('static',filename='all_doodles/still_doodles/1 October - Nigeria Independence Day 2016.jpg')}}" width="300" height="200" />  
    
</tr>

<tr id = two>
    <td> <img src="{{url_for('static',filename='all_doodles/still_doodles/1 October - Nigeria Independence Day 2016.jpg')}}" width="300" height="200" />  
    <td> <img src="{{url_for('static',filename='all_doodles/still_doodles/1 October - Nigeria Independence Day 2016.jpg')}}" width="300" height="200" />  
    <td> <img src="{{url_for('static',filename='all_doodles/still_doodles/1 October - Nigeria Independence Day 2016.jpg')}}" width="300" height="200" />  
    

</tr>


<tr id= three>

    <td> <img src="{{url_for('static',filename='all_doodles/still_doodles/1 October - Nigeria Independence Day 2016.jpg')}}" width="300" height="200" />  
    <td> <img src="{{url_for('static',filename='all_doodles/still_doodles/1 October - Nigeria Independence Day 2016.jpg')}}" width="300" height="200" />  
    <td> <img src="{{url_for('static',filename='all_doodles/still_doodles/1 October - Nigeria Independence Day 2016.jpg')}}" width="300" height="200" />  
    
</tr>


 </ul >



</div>
</div>
</div>
{% endblock %}}

