<!DOCTYPE HTML>
 <html lang="eng-US" style="height:100%;">


<!-- this where the new doodles are-->
{% extends "standard.html" %}
{% block content %}


<div id="main">

<div class="welcome">
<p>Hi! we're still working on getting all the latest doodles from Google, but in the meantime, here's the latest one! Click on it for more</p>

<div class="today">
<h2>Latest Doodle</h2>

<a href="https://www.google.com/doodles"> 
<img id="maindoodle" src="http://www.google.com/logos/doodles/2016/walter-cronkites-100th-birthday-4805020395503616.5-hp2x.gif" height="200" width="400">
</a>

<div id= "newdoodle">
</div>


</body>
</div>
</div>
{% endblock %}}