<!DOCTYPE HTML>
 <html lang="eng-US" style="height:100%;">

<head>
<title>"Google Doodles"</title>
*/icon*/
<link rel="icon" type="image/png"
href="{{url_for('static',filename='logos/logo2.png')}}" />

</head>

<body>
<div id>

<div id="header">

<div class="logospace">
<img id=logo src="{{url_for('static',filename='logos/logo2.png')}}"   height="100" width="500">


<ul class="nav">
<li><a href="search.html">Search |</a>
<li><a href="index.php">All Doodles |</a></li>
<li><a href="#">What's a Doodle</a></li>
</ul>
</div>
</div>

<div id="contents-layer">

