<!DOCTYPE HTML>
 <html lang="eng-US" style="height:100%;">

<head>
<title>"Google Doodles"</title>
<!-- tab icon -->
<link rel="icon" type="image/png" href="{{url_for('static',filename='css/logos/logo2.png')}}" />
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/site.css') }}">
<!-- jquery -->
 <script src=""//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js""></script>


</head>

<body>


<div id="header">

<div class="logospace">
<a href="/"><img id=logo src="{{url_for('static',filename='css/logos/logo4.PNG')}}"   height="200" width="300"></a>

<div id="message">

{% block navtext %} {% endblock %} 
</div>
</div>
</div>



<div id="contents-layer"></div>

{% block content %} {% endblock %} 
