body{background:url(logos/logo2.png);background-size:100px 100px;}
	
div#contents-layer{
 background:rgba(255, 255, 255, 0.8);
 height:100%;
 width:100%;
 position:absolute;
 z-index:-1;

 }

img:not(#title):hover {
    outline: gray solid 5px;
}

img#title{
	position:fixed;
		}
	
img#latest{
	position:fixed;
	left:35%;
	height:60%;
	width:25%;
	}


img#favourite{
	position:fixed;
	left:1%;
	top:63%;
	width:63%;
	}
	
img#gallery{
	position:fixed;
	top:2%;	
	left:65%;
	height:95%;	
	}

img.slideshow{
	position:absolute;
	top:2%;	
	left:65%;
	width:33%;
	height:55%;
 	box-shadow: 1px 1px 5px rgba(0,0,0,0.7)
	}
